<!DOCTYPE html>
<html data-fp="cio1z3u2tql">

<head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<title>{{ page_title }} - إِيجي فيلم</title>
	<style type="text/css">
		@font-face {
			font-family: "MainFont";
			font-weight: bold;
			src: url(https://egyfilm-app.vercel.app/fonts/Bahij_TheSansArabic-Black.ttf);
		}

		@font-face {
			font-family: "MainFont";
			font-weight: 400;
			src: url("https://egyfilm-app.vercel.app/fonts/Bahij_TheSansArabic-Bold.ttf");
		}
	</style>
	<script type="text/javascript">
		(function () {
			var css = document.createElement("link");
			css.href =
				"https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css";
			css.rel = "stylesheet";
			css.type = "text/css";
			document.getElementsByTagName("head")[0].appendChild(css);
			var css = document.createElement("link");
			css.href =
				"https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap";
			css.rel = "stylesheet";
			css.type = "text/css";
			document.getElementsByTagName("head")[0].appendChild(css);
		})();
	</script>
	<link href="https://egyfilm-app.vercel.app/assets/css/all.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Anton&amp;family=Righteous&amp;display=swap" rel="stylesheet"
		type="text/css" />

	<meta name="description"
		content="موقع إِيجي فيلم لمشاهدة الافلام والمسلسلات الاجنبي والاسيوي والانمي , مشاهدة احدث الافلام الاجنبي , افلام اون لاين , مسلسلات اونلاين , تحميل مسلسلات وافلام" />
	<meta name="robots" content="follow, index" />
	<link rel="next" href="#" />
	<meta property="og:locale" content="ar_AR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="إِيجي فيلم - مشاهدة افلام ومسلسلات اون لاين" />
	<meta property="og:description"
		content="موقع إِيجي فيلم لمشاهدة الافلام والمسلسلات الاجنبي والاسيوي والانمي , مشاهدة احدث الافلام الاجنبي , افلام اون لاين , مسلسلات اونلاين , تحميل مسلسلات وافلام" />
	<meta property="og:site_name" content="إِيجي فيلم" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="إِيجي فيلم - مشاهدة افلام ومسلسلات اون لاين" />
	<meta name="twitter:description"
		content="موقع إِيجي فيلم لمشاهدة الافلام والمسلسلات الاجنبي والاسيوي والانمي , مشاهدة احدث الافلام الاجنبي , افلام اون لاين , مسلسلات اونلاين , تحميل مسلسلات وافلام" />

	<link rel="icon" href="https://egyfilm-app.vercel.app/assets/images/favicon.ico" sizes="32x32" />
	<link rel="icon" href="https://egyfilm-app.vercel.app/assets/images/favicon.ico" sizes="192x192" />
	<link rel="apple-touch-icon" href="https://egyfilm-app.vercel.app/assets/images/favicon.ico" />
	<meta name="msapplication-TileImage" content="#" />
	<link rel="canonical" href="/" />
	<meta charset="UTF-8" />
	<meta name="googlebot" content="archive" />
	<meta name="robots" content="index, follow" />
	<meta name="rating" content="General" />
	<meta http-equiv="Content-Language" content="ar-eg" />
	<meta name="revisit-after" content="1 hour" />
	<meta name="distribution" content="Global" />
	<meta name="resource-type" content="document" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta property="og:type" content="website" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="#ed3c3c" />
	<meta name="msapplication-navbutton-color" content="#ed3c3c" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#ed3c3c" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="https://egyfilm-app.vercel.app/assets/css/style.css">
</head>

<body style="padding-top: 100px" data-nonce="e865e3bf41">
	<div style="display: none">
		<!-- ads -->


	</div>
	<script src="https://egyfilm-app.vercel.app/assets/js/tag.min.js"></script>
	<div class="homepage__bg" style="background-image: url('https://egyfilm-app.vercel.app/assets/images/back.jpg')">
	</div>
    <div class="mobile--menu">
		<div class="MainMenuOverlay"></div>
		<ul id="main-menu">
		  <li class="Added--Recently">
			  <a href="/">المضاف حديثا </a>
		  </li>
		  <li
			id="menu-item-73"
			class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-73"
		  >
			<a href="/movies/page/1/">الافلام</a>
			<ul class="sub-menu">
			  <li
				id="menu-item-74"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-74"
			  >
				<a
				  href="/english-movies/page/1/"
				  >افلام اجنبي</a
				>
			  </li>
			  <li
				id="menu-item-76"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76"
			  >
				<a
				  href="/arabic-movies/page/1/"
				  >افلام عربي</a
				>
			  </li>
			  <li
				id="menu-item-75"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
			  >
			  <a
				  href="/india-movies/page/1/"
				  >افلام هندي</a
				>
			  </li>
			  <li
				id="menu-item-75"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
			  >
				<a
				  href="/turkish-movies/page/1/"
				  >افلام تركيه</a
				>
			  </li>
			  <li
				id="menu-item-110"
				class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"
			  >
				<a href="/documentary-movies/page/1/"
				  >افلام وثائقية</a
				>
			  </li>
			  <li
				id="menu-item-109"
				class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"
			  >
				<a href="/full-pack/page/1/"
				  >سلاسل الافلام</a
				>
			  </li>
			  
			</ul>
		  </li>
		  <li
		  
			id="menu-item-112"
			class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-112"
		  >
			<a
			  href="/series-1/page/1/"
			  >المسلسلات</a
			>
			<ul class="sub-menu">
			  <li
				id="menu-item-113"
				class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"
			  >
				<a href="https://e-egyfilm.web.app/category/مسلسلات-اجنبي/احدث-الحلقات.html">احدث الحلقات</a>
			  </li>
			  <li
				id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/english-series/page/1/"
				  >مسلسلات اجنبي</a
				>
			  </li>
  
			  <li
				id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/arabic-series/page/1/"
				  >مسلسلات عربي</a
				>
			  </li>
			  <li
			  id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/indian-series/page/1/"
				  >مسلسلات هندية</a
				>
			  </li>
			  <li
			  id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/turkish-series/page/1/"
				  >مسلسلات تركيه</a
				>
			  </li>
			  <li
			  id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/asian-series/page/1/"
				  >مسلسلات أسيوية</a
				>
			  </li>
  
			  <li
				id="menu-item-116"
				class="menu-item menu-item-type-custom menu-item-object-custom menu-item-116"
			  >
				<a href="/documentary-series/page/1/">مسلسلات وثائقية</a>
			  </li>
			  
			  
			</ul>
		  </li>
		  <li
			id="menu-item-152"
			class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-152"
		  >
			<a
			  href="#"
			  >مسلسلات رمضان</a
			>
			<ul class="sub-menu">
			  <li
				id="menu-item-154"
				class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"
			  >
				<a
				  href="/ramadan-series/page/1/"
				  >رمضان 2024</a
				>
			  </li>
			  <li
				id="menu-item-153"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
			  >
				<a
				  href="/ramadan-2023-series/page/1/"
				  >رمضان 2023</a
				>
			  </li>
			  <li
				id="menu-item-153"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
			  >
				<a
				  href="/ramadan-2022-series/page/1/"
				  >رمضان 2022</a
				>
			  </li>
			  
			  <li
			  id="menu-item-153"
			  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
			>
			  <a
				href="/ramadan-2021-series/page/1/"
				>رمضان 2021</a
			  >
			</li>
			<li
			id="menu-item-153"
			class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
		  >
			<a
			  href="/ramadan-2020-series/page/1/"
			  >رمضان 2020</a
			>
		  </li>

			 
			</ul>
		  </li>
		  <!-- <li
			id="menu-item-157"
			class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-157"
		  >
			<a
			  href="#"
			  >الانمي</a
			>
			<ul class="sub-menu">
			  <li
				id="menu-item-159"
				class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159"
			  >
				<a
				  href="#"
				  >احدث الحلقات</a
				>
			  </li>
			  <li
				id="menu-item-158"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-158"
			  >
				<a
				  href="#"
				  >قائمة الانميات</a
				>
			  </li>
			  <li
				id="menu-item-161"
				class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"
			  >
				<a href="#">انمي نتفلكس</a>
			  </li>
			  
			</ul>
		  </li>
		  <li class="full-packs">
			<a href="#"
			  ><i class="far fa-folder-download"></i> تحميل مسلسلات كاملة
			  برابط واحد</a
			>
		  </li>
			</ul> -->
		  </li>
		</ul>
	  </div>
	  <header class="Main--Header">
		<div class="Content--Wrapper">
		  <div class="mobile--bars"><i class="fal fa-bars"></i></div>
		  <div class="mobile--search"><i class="fal fa-search"></i></div>
		  <a class="Logo--Area" href="/">
			<h1>
			  Egy<span>Film</span>
			  <em>إِيجي فيلم</em>
			</h1>
		  </a>
		  <nav class="Menu--Contents">
			<ul id="main-menu">
			  <li class="Added--Recently">
				<a href="/">المضاف حديثا </a>
			  </li>
			  
			  <li
				class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-73"
			  >
			  <a href="/movies/page/1/">الافلام</a>
			  <ul class="sub-menu">
				<li
				  id="menu-item-74"
				  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-74"
				>
				  <a
					href="/english-movies/page/1/"
					>افلام اجنبي</a
				  >
				</li>
				<li
				  id="menu-item-76"
				  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-76"
				>
				  <a
					href="/arabic-movies/page/1/"
					>افلام عربي</a
				  >
				</li>
				<li
				  id="menu-item-75"
				  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
				>
				<a
					href="/india-movies/page/1/"
					>افلام هندي</a
				  >
				</li>
				<li
				  id="menu-item-75"
				  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-75"
				>
				  <a
					href="/turkish-movies/page/1/"
					>افلام تركيه</a
				  >
				</li>
				<li
				  id="menu-item-110"
				  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"
				>
				  <a href="/documentary-movies/page/1/"
					>افلام وثائقية</a
				  >
				</li>
				<li
				  id="menu-item-109"
				  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"
				>
				  <a href="/full-pack/page/1/"
					>سلاسل الافلام</a
				  >
				</li>
				
			  </ul>
			</li>
		
		
			<li
			  id="menu-item-112"
			  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-112"
			>
			  <a
				href="/series-1/page/1/"
				>المسلسلات</a
			  >
			  <ul class="sub-menu">
				<li
				  id="menu-item-114"
				  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
				>
				  <a
					href="/english-series/page/1/"
					>مسلسلات اجنبي</a
				  >
				</li>
	
				<li
				id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/arabic-series/page/1/"
				  >مسلسلات عربي</a
				>
			  </li>
			  <li
			  id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/indian-series/page/1/"
				  >مسلسلات هندية</a
				>
			  </li>
			  <li
			  id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/turkish-series/page/1/"
				  >مسلسلات تركيه</a
				>
			  </li>
			  <li
			  id="menu-item-114"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-114"
			  >
				<a
				  href="/asian-series/page/1/"
				  >مسلسلات أسيوية</a
				>
			  </li>
  
				<li
				  id="menu-item-116"
				  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-116"
				>
				  <a href="/documentary-series/page/1/">مسلسلات وثائقية</a>
				</li>
				
				
			  </ul>
			</li>
			<li
			  id="menu-item-152"
			  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-152"
			>
			  <a
				href="#"
				>مسلسلات رمضان</a
			  >
			  <ul class="sub-menu">
				<li
				id="menu-item-154"
				class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154"
			  >
				<a
				  href="/ramadan-series/page/1/"
				  >رمضان 2024</a
				>
			  </li>
			  <li
				id="menu-item-153"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
			  >
				<a
				  href="/ramadan-2023-series/page/1/"
				  >رمضان 2023</a
				>
			  </li>
			  <li
				id="menu-item-153"
				class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
			  >
				<a
				  href="/ramadan-2022-series/page/1/"
				  >رمضان 2022</a
				>
			  </li>
			  <li
			  id="menu-item-153"
			  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
			>
			  <a
				href="/ramadan-2021-series/page/1/"
				>رمضان 2021</a
			  >
			</li>

			<li
			id="menu-item-153"
			class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-153"
		  >
			<a
			  href="/ramadan-2020-series/page/1/"
			  >رمضان 2020</a
			>
		  </li>

			  </ul>
			</li>
		
			<!-- <li
			  id="menu-item-157"
			  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-157"
			>
			  <a
				href="#"
				>الانمي</a
			  >
			  <ul class="sub-menu">
				<li
				  id="menu-item-159"
				  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159"
				>
				  <a
					href="#"
					>احدث الحلقات</a
				  >
				</li>
				<li
				  id="menu-item-158"
				  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-158"
				>
				  <a
					href="#"
					>قائمة الانميات</a
				  >
				</li>
				<li
				  id="menu-item-161"
				  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"
				>
				  <a href="#">انمي نتفلكس</a>
				</li>
				
				</ul>
			  </li>
			  <li class="full-packs">
				<a href="#"
				  ><i class="far fa-folder-download"></i> تحميل مسلسلات كاملة
				  برابط واحد</a
				>
			  </li>
			</ul> -->
		</nav>
		<div class="Header--Search"><i class="fal fa-search"></i></div>
			  <div class="Header--Social">
				<a rel="nofollow" target="_NEW" href="" class="facebook"><i class="fab fa-facebook-f"></i></a>
				<a rel="nofollow" target="_NEW" href="" class="twitter"><i class="fab fa-twitter"></i></a>
				<a rel="nofollow" target="_NEW" href="intent://t.me/E_EgyFilm#Intent;scheme=https;end;"
					class="pinterest"><i class="fab fa-telegram-plane"></i></a>
			</div>
		</div>
	</header>
	<div class="popSearch">
		<div class="Content--Wrapper">
			<div class="SearchPopForm">
				<form class="Header--Search-Form" onsubmit="return false;"> <!-- لمنع إرسال النموذج -->
					<input
						type="text"
						id="search-input"
						class="search-input"
						placeholder="ابحث في الصفحه..."
						onkeyup="handleInput(event)" 
					/>
				</form>
				<button type="button" id="search--close">
					<i class="fal fa-times"></i> إغلاق
				</button>
			</div>
			<div class="SearchResults"></div>
		</div>
	</div>
	
	<script>
		function handleInput(event) {
			const input = document.getElementById("search-input").value.trim();
			const resultsContainer = document.querySelector(".SearchResults");
			resultsContainer.innerHTML = ""; // مسح النتائج السابقة
	
			// إذا كان هناك نص مدخل، عرض زر البحث
			if (input) {
				const link = document.createElement("a");
				link.href = `/search/?query=${encodeURIComponent(input)}`;
				link.textContent = `نتائج البحث عن: ${input}`;
				link.target = "_blank"; // لفتح الرابط في علامة تبويب جديدة
	
				const button = document.createElement("button");
				button.textContent = "انتقل إلى صفحة البحث";
				button.onclick = () => {
					window.location.href = link.href; // عند النقر على الزر، الانتقال إلى الرابط
				};
	
				// إضافة الزر إلى حاوية النتائج
				resultsContainer.appendChild(link);
				resultsContainer.appendChild(button);
			}
	
			// تحقق من مفتاح الضغط
			if (event.key === "Enter") { // تحقق مما إذا كان المفتاح هو "Enter"
				event.preventDefault(); // منع التصرف الافتراضي (مثل إرسال النموذج)
				if (input) {
					window.location.href = `/search/?query=${encodeURIComponent(input)}`; // الانتقال إلى صفحة البحث
				}
			}
		}
	</script>
			  <style>
            .SearchResults {
                margin-top: 10px; /* مسافة بين حقل البحث ونتائج البحث */
            }
    
            .SearchResults a {
                display: block; /* جعل الرابط يظهر في سطر جديد */
                margin-bottom: 10px; /* مسافة بين الرابط والزر */
                color: #ff434c; /* لون النص */
                text-decoration: none; /* إزالة التسطير من النص */
            }
    
            .SearchResults a:hover {
                text-decoration: underline; /* إضافة التسطير عند التحويم */
            }
    
            .SearchResults button {
                background-color: #ff434c; /* لون خلفية الزر */
                color: white; /* لون نص الزر */
                border: none; /* إزالة الحدود */
                border-radius: 5px; /* زوايا دائرية */
                padding: 10px 15px; /* مسافات داخل الزر */
                cursor: pointer; /* تغيير شكل المؤشر عند التحويم */
                transition: background-color 0.3s; /* تأثير انتقال عند تغيير اللون */
            }
    
            .SearchResults button:hover {
                background-color: #db3a42; /* لون خلفية الزر عند التحويم */
            }
        </style>

	</div>
	<div class="Content--Wrapper">
		<div class="page--contents">
			<div class="TitleBox">
				<h2>{{ page_title }}</h2>
			</div>
			<ul class="Posts--List SixInRow">
				{% if series %}
				{% for item in series %}
				<div class="Small--Box">
					<a href="{{ item.link }}" title="{{ item.title }}" class="recent--block">
						{% if item.quality %}
						<div class="ribbon">{{ item.quality }}</div>
						{% endif %}
						{% if item.episode %}
						<div class="number"><span>حلقة</span>{{ item.episode }}</div>
						{% endif %}
						<div class="Poster">
							<img src="{{ item.image_url }}" alt="{{ item.title }}" />
						</div>
						<i class="fa-brands fa-google-play playIcon"></i>
						<ul class="liList">
						</ul>
						<h3 class="title">{{ item.title }}</h3>
					</a>
				</div>
				{% endfor %}
				{% else %}
				<p>لا توجد نتائج مطابقة لبحثك.</p>
				{% endif %}
			</ul>
		</div>
	</div>
	<style>
		.paginate ul.page-numbers {
			display: flex;
			flex-wrap: wrap;
			/* يجعل العناصر تلتف في صفوف جديدة */
			justify-content: center;
			gap: 5px;
			/* لضبط المسافة بين العناصر */
		}
	</style>
	<div class="paginate">
		<ul class="page-numbers">
			{% for page in pagination %}
			<li class="{% if page.active %}active{% endif %}">
				<a href="{{ page.url }}">{{ page.number }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	</div>
	</div>
	<div style="display: none">
		<!-- ads -->

	</div>
	<div class="Content--Wrapper">
		<footer>
			<div class="copyrights">
				جميع الحقوق محفوظة <a href="/">إِيجي فيلم</a> -
				© 2024
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="https://egyfilm-app.vercel.app/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="https://egyfilm-app.vercel.app/assets/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="https://egyfilm-app.vercel.app/assets/js/Init.js"></script>

	<script src="https://egyfilm-app.vercel.app/assets/js/typed.min.js"></script>


</body>

</html>
